.imagegallery{
	width: 300px;
}

.singleitemproductname{
	font-size: 20px;
}

sub{
	font-size: 15px;
}

.singleitemcontainer{
	margin-top: 40px;
}

.singleitemimage{
	height: 400px;
	width: 400px;
}

.orderbutton{
	margin-top: 50px;
}

.quantityform{
	margin-top: 40px;
}